html {
    font-family: sans-serif;
}

.header {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    background-color: #4f4f4f;
}

.container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.text {
    text-align: center;
    padding-top: 75px;
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
}

.prof {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
}

.intro {
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    height: auto;
    background-color: transparent;
    top: -4rem;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.section {
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;

}

.profile {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

}

.img-prof {
    border-radius: 50%;
    border: 0;
    background-color: #ffffff;
}

.content-wrapper {
    width: 100%;
    height: auto;
    padding: 25px 20px;
}

.content {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
}

.social-icons .fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: gray;
}

.icon-experience .fa {
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 21px;
    width: 30px;
}

.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
}

.list {
    margin-left: -5px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-left: 0;
}

a {
    color: gray;
}

ul {
    overflow: auto;
    margin-bottom: 30px;
}

ul li {
    list-style-type: none;
    padding: 0 5px;
    float: left;

}

.text-left {
    text-align: left !important;

}

.text-center {
    text-align: center;
}

.row {
    margin-left: -0.75rem;
    margin-right: 0.75rem;
}

.col {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cols {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
}

.col-xs-12 {
    width: 100%;
}

.btn {
    width: 180px;
    height: auto;
    margin: 10px 10px;
}

h4 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #17a2b8;
    padding: 30px;
    text-transform: uppercase;

}

.skill-wrapper {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);

}

.skill-title {
    margin-top: 20px;
    margin-bottom: 40px;
}

.skill-progress-show {
    margin-bottom: 22px;
}

.skill-progress-show p span {
    float: right;
}

.skill-progress {
    position: relative;
    background-color: #757575;
    margin: 15px 0;
    height: 6px;
    z-index: 0;
    overflow: visible;
}

.timeline {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

i {
    color: #17a2b8;
    text-align: center;
}

.col-md-10 {
    position: relative;
    min-font-size: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.icon-experience {
    margin-left: 147px;
    padding: 5px 5px;
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
}

.all-experience {
    border-left: 5px solid #a8a8a8;
    margin-left: 166px;
    padding-top: 4px;
    padding-left: 26px;
}

.experience-content {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 45px;
    margin-top: 45px;
    font-size: 15px;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11)
}

.experience-period {
    background-color: #17a2b8;
    color: #ffffff;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -30px;
    left: 0;
    width: 156px;
    text-align: center;
}

h3 {
    font-size: 1rem;
}

.speciality-name {
    margin-bottom: 10px;
}

.location {
    color: #757575;
    margin-bottom: 8px;
}

#ptext {
    overflow: hidden;
    height: 0;
}

.section-header {
    text-align: center;
}

.edu-period h3 {
    margin: 0;
}
.edu-period  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #17a2b8;
    color: #ffffff;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -30px;
    left: 0;
    width: 60%;
    text-align: center;
}

.ul-edu {
    color: #757575;
    margin-bottom: 12px;
    padding-top: 30px;
    padding-left: 0;
}

.li-speciality {
    margin-bottom: 5px;
    padding: 0px;
}

.col-sm-4 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.edu-wrapper {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
}

.edu-content {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    padding-top: 45px;

}